.boxC-01 {
    text-align: right;
    height: 55px;
}

.boxC-02 {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: #D7D1D1;
}

.boxC-02-01 {
    object-fit: cover;
    width: 100%;
    height: 235px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inBoxC102 {
    margin-left: 10px;
}


.inBoxC101 {
    width: 60px;
}

.inBoxC {
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: left;
    padding: 40px;
}

.inBoxC2 {
    margin-top: 20px;
}

.inBoxC201 {
    font-size: 40px;
}

.inBoxC202 {
    text-align: right;
}

.ld {
    padding: 5px;
}